body {
    font-family: 'Open Sans', serif;
}

.progress {
    height: 5px;
}

p.active {
    color: #109CF1;
}

span.current {
    background: #109CF1;
    color: #fff;
    border-radius: 50%;
    text-align: center;
}

li.footer {
    position: fixed;
    bottom: 25px;
}

.e-mail {
    font-size: 0.8em;
}